@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.App-logo {
  display: block;
  margin: 0 auto;
}

.App-header {
  margin: 15px 0;
}
