.dictionary section {
  background-color: #285b8424;
  padding: 30px 30px 19px;
  border-radius: 10px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.05);
  margin: 40px 10px;
  color: #285b84;
}

.dictionary input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #285b84;
  padding: 6px 8px;
  background: #efefef;
}

.dictionary .hint {
  font-size: 13px;
  margin: 5px 0 0 7px;
}

.dictionary h1 {
  font-size: 28px;
  margin-bottom: 10px;
}
